* {
  border: none;
  border-radius: 0;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

#workspaces {
  background-color: #2f2f2f;
  padding: 0px 8px;
  border: 2px solid #fff;
  border-radius: 15px;
}

#workspaces * {
  font-size: 0px;
}

#workspaces button {
  min-height: 20px;
  min-width: 20px;
  padding: 0px;
  margin: 10px 8px;
  background: transparent;
  border-radius: 100%;
  border: 2px solid #fff;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.68);
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#workspaces button.active {
  border-radius: 1rem;
  min-width: 50px;
  background-color: #f2238f;
  border: 2px solid #f2238f;
  background-size: 400% 400%;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
  background-color: blue;
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

#clock, #battery {
  padding: 0 3px;
  margin: 0 2px;
}

#clock {
  font-weight: bold;
}

#battery icon {
  color: red;
}

@keyframes blink {
  to {
      background-color: #ffffff;
      color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

